.dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dh-languages-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.dh-language {
    min-width: 102px;
    height: 90px;
    /* background-color: #2ecc71; */
    color: #000;
    border-radius: 4px;
    /* border: 1px solid rgba(15, 15, 15, 0.35); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    /* box-shadow: 0px 0px 7px 1px rgba(15, 15, 15, 0.2); */
    margin-left: 7px;
    margin-top: 5px;
    cursor: pointer;
    .language-icon {
        width: 82px;
        height: 76px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .language-text {
        margin-top: 8px;
    }
}

//TOP Area 
.dashboard-top {
    width: 100%;
    height: 60px;
    max-height: 80px;
    background-color: #2ecc71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-main {
    display: flex;
    flex: 1;
}

.dashboard-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: flex-end;
    justify-content: flex-end;
    margin-top: 13px;
}

.app-logo {
    width: 153px;
    height: 51px;
    margin-top: 3px;
    img {
        width: 100%;
        height: 100%;
    }
}

.navigation-container {
    width: 100%;
    height: 52px;
    position: relative;
    background-color: #2ecc71;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .icon {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 38px;
        color: #fff;
        transition: filter, 0.2 ease-in-out;
        cursor: pointer;
        &:hover {
            filter: brightness(80%);
        }
    }
}